.link {
  text-decoration: none;
  color: $color-primary;
  display: inline-block;
  transition:
    color $transition,
    border-color $transition;

  &:hover {
    color: $color-primary-hover;
  }

  &:active {
    color: $color-gray;
  }
}

.link--gray {
  color: $color-gray;
  border-color: $color-gray;

  &:hover {
    border-color: $color-primary;
  }
}

.link--white {
  color: #fff;
  border-color: #fff;

  &:hover {
    border-color: $color-primary-hover;
  }
}
