*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  font-family: sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.5;
}
